#logo{
    height: 50px;
    width: auto;
    margin: 5px;
}
.btn-deli{ 
    background-color: rgb(18, 146, 154) !important;
    color: white !important; 
}
body{
    background-color: rgb(243, 243, 243) !important;
}
#contenido-principal{
    min-height: 100vh;
}
@media (min-width: 1439px) {
    #contenido-principal{
        min-height: 90vh;
    }
}

/* TEXTO */
.link, .user, .txt, .txtExtraInfo{ 
    font-weight: 500;
}
.link{
    text-decoration: none;
    color: rgb(13, 40, 75);
}
.redLink{
    text-decoration: none;
    color: rgb(194, 22, 22) !important;
}

.txtExtraInfo{ 
    /* azul chillon */
    color: rgb(7, 64, 113);

    /* highlight */
    /* background: linear-gradient(
        to bottom,
        transparent 50%,
        rgba(18, 145, 154, 0.301) 50%
    ); */
}
.fecha{
    font-size: small;
    color: gray;
}
.user-check{
    /* color: rgb(18, 145, 154); */
    color: rgb(13, 40, 75);
}

/* BUSQUEDA */
.search-bar{ flex-direction: row; }
#busqueda, #busque{
    border-color: rgb(18, 146, 154)!important;
}
.btn-search{ 
    background-color: rgb(18, 146, 154)!important; 
}
.lupa{ 
    /* color: rgb(18, 146, 154); */
    color: rgb(243, 243, 243); 
}

/* USER MENU */
.userBtns{
    padding-left: 6%;
    flex-direction: column;
}
.user{
    display: flex;
    justify-content: start;
    align-items: center;
}
.userImg{
    width: 3rem;
    height: 3rem;
    max-width: 50px;
}

/* PUBLICACIONES */
.card-border{ 
    border-color: rgb(18, 146, 154) !important; 
}
.card-content{
    margin: 1rem;
}
.post{
    margin-bottom: 1.5rem;
}
.postText{
    margin-left: 1rem;
    padding-bottom: 0.8rem;
}
.postUserImg{
    width: 2.5rem; 
    height: 2.5rem;
    max-width: 42px;
    max-height: 42px;
}
.postBottom{ 
    width: 50%;
}
.imgMensaje{
    width: 30%;
    height: auto;
}

/* UNA PUBLICACION */
.postLinks{ border-color: transparent !important; }
.btnVolver{
    width: 40px;
    height: 40px;
}
.postDetailsPost{
    margin-left: 2.5rem;
}
@media (max-width: 425px) {
    .postDetailsPost{
        margin-left: 1rem;
    }
    #infoUserPost{
        margin-bottom: 0.5rem;
    }
    #nombreUserPost{
        display: flex;
        flex-direction: column;
        align-items: unset;
        justify-content: center;
    }
}

/* COMENTARIOS */
.comment{
    border-radius: 14px;
}
.cInput{
    border-color: transparent !important;
}
.cForm{
    display: flex !important;
    flex-direction: row;
}
.boton{
    padding: 0 !important;
    background-color: transparent !important;
    border-color: transparent !important;
    margin-right: 8px;
}

/* NOTIFICACIONES */
#notificaciones{
    max-height: 20rem;
    overflow-y: auto;
}
.notif{
    margin: 10px 2px;
}

/* BOTTOM MENU - NAV */
.bNav{
    position: fixed !important;
    bottom: 0;
    width: 100%;
    height: 4rem;
    z-index: 2;
}
.bNavIcons{
    width: 100%;
    height: 100%;
    display: flex !important;
    flex-direction: row;
}
.opcionbNav{
    width: 20%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/**** MODALES ****/
.modalDeleteComment-footer, .modalDeletePost-footer{ 
    border-top: unset !important; 
}


/* modal postularse */
/* .custom-modal-content {
    background-color: rgb(133, 133, 133) !important;
} */
.custom-input {
    font-size: 200% !important; 
    height: 85px !important;  
    border-radius: 0 5px 5px 0 !important;
}
.monto{
    width: 80% !important; 
    margin: 0 auto !important; 
}
.custom-input-m {
    width: 20% !important;
    font-size: 170% !important;
    display: grid !important;
    place-items: center !important;
}
.custom-textarea {
    width: 80% !important;
    height: 110px !important; 
    margin: 0 auto !important;  
}
.body-postu {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important; 
}


/* Pie de pagina */

#pieDePagina{
    background-color: rgb(18, 146, 154);
    margin-top: 30px;
}
#redes{
    display: grid;
    place-items: center;
}
#list{
    list-style: none;
    margin-right: 2% ;
}
.redesLista{
    display: inline-block;
    padding: 10px;
}
#r{
    color: black;
}
#frase{
    padding-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}
#fin {
    text-align: center;
}

@media (max-width: 768px) {
    .container-principal {
        padding-bottom: 60px; 
    }
    #pieDePagina{
        padding-bottom: 13%; 
    }
}
@media (min-width: 769px) and (max-width: 991px) {
    #pieDePagina{
        padding-bottom: 7%; 
    }
}

/* Validar usuarios */
.botonpdf{
    /* text-decoration: none; */
    color: black;
}
.botonvalidar{
    border: none;
    color: rgb(40, 179, 112);
    background-color: transparent;
}
.botonnovalidar{
    border: none;
    color: rgb(198, 76, 76);
    background-color: transparent;
}

/* -------- no entiendo pq esta esto. si hay algo importante combinarlo 
con el estilo que ya esta más arriba para el < btn-search > --------- */
/* busquedas */
/* .btn-search {
    background-color: rgb(245, 244, 244)!important;
    color: black !important;
    padding: 7px 16px !important;
    font-size: 14px !important;
    cursor: pointer !important;
    text-align: left !important;
    z-index: 4 !important;
    position: relative !important;
} */

.inactive {
    background-color: #e2e4e6 !important; 
    pointer-events: none;
}

.inactive-style{
    background-color: #e2e4e6 !important;
}

/* MODAL CALIFICACION */
.rating { 
    display: flex; 
    justify-content: center; 
} 
.rating input { 
    display: none; 
} 
.rating label { 
    font-size: 3em; 
    color: gray; 
    cursor: pointer; 
    margin: 0px 10px;
    transition-duration: 0.5s;
} 
.rating input:checked + label { color: gold; } 
.rating input#angry:checked + label { color: rgb(13, 40, 75); } 
.rating input#sad:checked + label { color: rgb(7, 64, 113); } 
.rating input#meh:checked + label { color: rgb(18, 146, 154); } 
.rating input#happy:checked + label { color: rgb(69, 191, 182); }
.rating input#sohappy:checked + label { color: rgb(80, 216, 208); }


#alert-box {
    z-index: 1050 !important;
}

.notification-indicator {
    position: absolute;
    top: 0; 
    right: 0;
    width: 10px;
    height: 10px;
    background-color: rgb(69, 191, 182);
    border-radius: 50%;
    display: none; 
}