body{
    background-color: rgb(238, 238, 238) !important;
}
#logo{
    height: 50px;
    width: auto;
    margin: 5px;
}

/* TEXTO */
.link, .user, .txt, .denunciar{ 
    font-weight: 500;
}
.link{
    text-decoration: none;
    color: rgb(29, 29, 29);
}

/* BUSQUEDA */
.search-bar{ flex-direction: row; }

/* USER MENU */
.userBtn{
    padding-left: 6%;
    flex-direction: column;
}
.user{
    display: flex;
    align-items: center;
    font-size: large;
    text-align: right !important;
}
.userImg{
    width: 3rem;
    height: 3rem;
    max-width: 50px;
}

/* PUBLICACIONES */
.card-content{
    margin: 1rem;
}
.post{
    margin-bottom: 1.5rem;
}
.postText{
    margin-left: 1rem;
    padding-bottom: 0.8rem;
}
.postUserImg{
    width: 2.5rem; 
    height: 2.5rem;
    max-width: 42px;
    max-height: 42px;
}
.postBottom{ 
    width: 50%;
}
.imgMensaje{
    width: 30%;
    height: auto;
}

/* UNA PUBLICACION */
.btnVolver{
    width: 40px;
    height: 40px;
}
.redLink{
    text-decoration: none;
    color: rgb(194, 22, 22) !important;
}

/* COMENTARIOS */
.comment{
    border-radius: 14px;
}
.cInput{
    border-color: transparent !important;
}

/* NOTIFICACIONES */
.notif{
    margin: 10px 2px;
}

/* BOTTOM MENU - NAV */
.bNav{
    position: fixed !important;
    bottom: 0;
    width: 100%;
    height: 4rem;
    z-index: 2;
}
.bNavIcons{
    width: 100%;
    height: 100%;
    display: flex !important;
    flex-direction: row;
}
.opcionbNav{
    width: 20%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* modal postularse */

.custom-modal-content {
    background-color: rgb(133, 133, 133);
}
.custom-input {
    font-size: 200%;
    height: 85px;  
    border-radius: 0 5px 5px 0 !important;
}
.monto{
    width: 80%; 
    margin: 0 auto; 
}
.custom-input-m{
    width: 20%;
    font-size: 170%;
    display: grid;
    place-items: center;
}
.custom-textarea {
    width: 80%;
    height: 110px; 
    margin: 0 auto;  
}
.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

@media (max-width: 768px) {
    .container-principal {
        padding-bottom: 60px; 
    }
}
